---
import Layout from '@/layouts/Layout.astro';
import { z } from 'astro/zod';

const { day: rawDay, month: rawMonth, year: rawYear } = Astro.params;

const paramsSchema = z.object({
  day: z.number(),
  month: z.number(),
  year: z.number(),
});

const parsedData = paramsSchema.safeParse({
  day: Number(rawDay),
  month: Number(rawMonth),
  year: Number(rawYear),
});
if (!parsedData.success) {
  console.log(parsedData.error.errors);
  throw new Error('Invalid parameters');
}

const { data } = parsedData;

const date = new Date(data.year, data.month - 1, data.day);
if (date.toString() === 'Invalid Date') {
  throw new Error('Invalid date');
}

const day = date.getDay();
---

<Layout
  title={`Date ${date.toDateString()}`}
  description={`Shows info about the date ${date.toDateString()}.`}
>
  <div transition:name={`day-${day}`}>
    {date.toDateString()}
  </div>
</Layout>
