---
import Layout from '@/layouts/Layout.astro';
import Calendar from '@/components/Calendar.astro';
---

<Layout
  title="Organizer"
  description={`
		Organizer is a tool for managing your events, attendees, and more. It's a simple, easy-to-use, and powerful tool for managing your events.
	`}
>
  <main>
    <Calendar />
  </main>
</Layout>
