<header class="flex justify-between flex-wrap items-center gap-4 border-b-2 border-zinc-400 text-zinc-400">
  <span class="text-3xl text-zinc-50"> Organizer </span>
  <nav class="text-2xl">
    <a href="/" class="hover:text-zinc-200 transition-colors">Home</a>
  </nav>
</header>
